<button (click)="addProject()" mat-button color="warn">Add New</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{ element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef> projectName </th>
    <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
  </ng-container>
  <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef> isActive </th>
      <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="dislayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: dislayColumns;"></tr>
</table>